# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

#IDE metadata (most common)
/.idea
/.nbproject
/.metadata
/.properties
/local.properties

#Build artifacts
build/
!build/phpmd.xml
!build/phpcs.xml
